CLIENT_SECRET=
CLIENT_ID=
REDIS_URL=
IRIS_AUTH_URL=https://iris.shreyxsh.me
# BASE_URL_1=https://checkboxes.shreyxsh.me
BASE_URL_1=http://localhost:8080
BASE_URL_2=
CHECKBOX_SIZE=1000
CHECKBOX_STATE_KEY=
RATE_LIMIT_KEY=
NODE_ENV=